<style>
    .header{
        background-color: rgb(90, 84, 75);
        height: 100px;

    }
    .title{
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: large;
        line-height: 100px;           
        text-align: center;
        color: aliceblue;
    }
    .content{
        height: 700px;
        text-align: center;
    }
</style>
</head>

<body>
<div class="header">
    <div class="title">計算的結果</div>
</head>
<body>
 
    <div class=content>
        {{result}}
        <br>
        <button>
            <a href="/">回首頁</a>
        </button>
    </div>
</body>
</html>