<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <style>
        .header{
            background-color: rgb(90, 84, 75);
            height: 100px;

        }
        .title{
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            font-size: large;
            line-height: 100px;           
            text-align: center;
            color: aliceblue;
        }
        .content{
            height: 700px;
            text-align: center;
            
        }
    </style>
</head>
<body>
    <div class="header">
        <div class="title">失敗頁面</div>
    </div>
    <div class="content">
        <br>
        <div class="content-title">{{message}}</div>
        <br>
        <button>
            <a href="/">回首頁，重新登入</a>
        </button>
    </div>
</body>
</html>