<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <style>
        .header{
            background-color: rgb(90, 84, 75);
            height: 100px;

        }
        .title{
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            font-size: large;
            line-height: 100px;           
            text-align: center;
            color: aliceblue;
        }
        .content{
            height: 700px;
            text-align: center;
            
        }
    </style>
</head>
<body>
    <div class="header">
        <div class="title">歡迎光臨 請註冊登入系統</div>
    </div>
 


    <div class="content">
        <br>
        <br>
    
        <div class="content-title">註冊帳號</div>
        <br>
    
       <form action="/signup" , method="POST">
    
            姓名 <input type="text" name="membername">
            <br>
            帳號 <input type="text" name="username">
            <br>
            密碼  <input type="password" name="password">
            <br>    
    
            <button class="btn">註冊</button>
            <!-- <a href="/signup">註冊</a> -->
        </form>
    
        <br>
        <br>
        <br>
        <br>
    

        <div class="content-title">登入系統</div>
        <br>

       <form action="/signin" , method="POST">

            帳號 <input type="text" name="username">
            <br>
            密碼  <input type="password" name="password">
            <br>    

            <button class="btn">登入</button>
            <!-- <a href="/login">登入</a> -->

        </form>

        <br>
        <br>
      
    </div>
</body>
</html>